body {
    margin: 0;
    padding: 0;
    background-color: #011217;
}

.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.clock_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000000, #ffffff, #000000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animateText 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.english {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #0158b3, #41dbfc);

}

.ukrainian {
    position: relative;
    display: inline-block;
    padding: 12px 22px;
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #6c51ea, #ff4db5);
}

.russian {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #de5e07, #e50904);
}

span {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animateButton 1s linear infinite;
}

.clock {
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/clock.png");
    background-size: cover;
    border: 4px solid #210776;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .minutes,
.clock .seconds {
    position: absolute;
}

.clock .hour, .hr {
    width: 150px;
    height: 150px;
}

.clock .minutes, .mn {
    width: 180px;
    height: 180px;
}

.clock .seconds, .sc {
    width: 220px;
    height: 220px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 70px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 85px;
    background: #ffffff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    background: #ffffff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


@keyframes animateText {
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}

@keyframes animateButton {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}